@charset "UTF-8";
#mainV{
	width: 100%;
	padding: 0;
	height: 413px;
	text-align: center;
	z-index: 1;
	position: relative;
	background-repeat: repeat-x;
	background-position: center top;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}